<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="U-C Jobs Job Seeker Mail">
    <meta name="author" content="Team85">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">

    <title>U-C Jobs Mail</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/css/mail.css" rel="stylesheet">

    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="/static/bootstrap-3.2.0/js/html5shiv.min.js"></script>
    <script src="/static/bootstrap-3.2.0/js/respond.min.js"></script>
    <![endif]--> 
    {% block js %}{% endblock %}
    <script src="/static/bootstrap-3.2.0/js/dropdown.js" type="text/javascript"></script>
    <script src="/static/js/reload-mail-unread-number.min.js" type="text/javascript"></script>


  </head>

  <body>

  <nav class="navbar job-seeker">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home_job_seeker' %}"><img class="logo" src="/static/img/logo.png"></a>
      </div>

      <div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="peace">{{ user.first_name }} {{user.last_name}}</span> <span class="glyphicon glyphicon-menu-down peace"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'show_job_seeker_profile_self' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'reset_password_job_seeker' %}"><span class="glyphicon glyphicon-lock"></span> Reset Password</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
          <li><a class="nav-item" href="{% url 'job_seeker_mail_inbox' %}"><span class="glyphicon glyphicon-envelope"></span><span class="unread_number">{{ mail_unread_number }}</span></a></li>
          <li><a class="nav-item" href="{% url 'search_company' %}"><span class="glyphicon glyphicon-search peace"></span><span class="peace"> Search</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

</body>
</html>