{% extends "ucjobs/base_mail_company.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-2">
    <ul class="nav nav-sidebar">
      <li><a class="normal-font" href="{% url 'company_mail_inbox' %}">Inbox</a></li>
      <li><a class="normal-font" href="{% url 'company_mail_sent' %}">Sent</a></li>
      <li><a class="normal-font" href="{% url 'company_mail_compose' %}">Compose</a></li>
    </ul>
  </div>

  <div class="col-sm-9 mail-border">
    <h3 class="page-header">Mail Box</h3>
    <div>
      <span class="mail-subject">{{mail.mail_subject}}</span></br>
      From: {{mail.sender}}</br>
      To: {{mail.receiver}}</br>
      Date: {{mail.mail_time}}</br></br>
      <textarea class="mail-content" readonly>{{mail.mail_content}}</textarea>

    </div>
  </div>
</div>
{% endblock %}

