{% extends "ucjobs/base_home.html" %}

{% block js %}
<script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/static/js/reload-mail-unread-number.min.js" type="text/javascript"></script>
{% endblock %}

{% block navi_bar %}
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home_company' %}"><kbd>U-C Jobs Enterprise</kbd></a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><a class="nav-item" href="{% url 'show_company_profile_self' %}">{{ user.username }}'s Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-item" href="{% url 'company_mail_inbox' %}"><span class="glyphicon glyphicon-envelope"><span class="unread_number">[{{ mail_unread_number }}]</span></span></a></li>
        <li><a class="nav-item" href="{% url 'search_job_seeker' %}"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a class="nav-item" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block company_logo %}
<a href="{% url 'show_company_profile_company' company_profile.id %}"><img src="{% url 'get_company_logo' company_profile.id %}" width="240" height="50" alt="{{company_profile.company_name}}"></a>
{% endblock %}

{% block post_info %}
<td><a class="post_info" href="{% url 'show_company_post_company' company_post.id %}">{{company_post.post_subject}}</a></td>
{% endblock %}


