{% extends "ucjobs/base_general_job_seeker.html" %}

{% block meta %}
<meta name="description" content="U-C Jobs Job Seeker Search">
{% endblock %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block css %}
<link href="/static/css/post.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="/static/js/search-company-result.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron backc search-left">

    <form class="form-signin">

      <h2>Search</h2></br>
      <div class="form-group">
        <label class="col-sm-4 control-label">Location</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="location">
          {{ form.location.errors }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Company Type</label>
        <div class="col-sm-8">
          <select class="form-control" name="company_type">
            <option value=""></option>
            <option value="Arts and Entertainment">Arts and Entertainment</option>
            <option value="Advertising and Public Relations">Advertising and Public Relations</option>
            <option value="Architecture">Architecture</option>
            <option value="Biotechnology">Biotechnology</option>
            <option value="Consulting">Consulting</option>
            <option value="Consumer Products">Consumer Products</option>
            <option value="Design">Design</option>
            <option value="Energy">Energy</option>
            <option value="Engineering">Engineering</option>
            <option value="Financial Services">Financial Services</option>
            <option value="Government / Non-Profit / Education">Government / Non-Profit / Education</option>
            <option value="Healthcare">Healthcare</option>
            <option value="Hospitality">Hospitality</option>
            <option value="Insurance">Insurance</option>
            <option value="Legal / Law Enforcement">Legal / Law Enforcement</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Marketing / Communications">Marketing / Communications</option>
            <option value="Pharmaceuticals">Pharmaceuticals</option>
            <option value="Real Estate">Real Estate</option>
            <option value="Retail and Fashion">Retail and Fashion</option>
            <option value="Science and Research">Science and Research</option>
            <option value="Technology">Technology</option>
            <option value="Transportation">Transportation</option>
            <option value="Utilities">Utilities</option>
            <option value="Other">Other</option>
          </select>
          {{ form.company_type.errors }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Company Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="company_name">
          {{ form.company_name.errors }}
        </div>
      </div>

      <center><button class="btn btn-default edit-post search">Search</button></center>
      {% csrf_token %}

    </form>   
  </div>
  <!-- Ajax to combine search-company-result -->
  <div class="jumbotron backc search-right result"><h2>Result</h2></br></div>
</div>
{% endblock %}