{% extends "ucjobs/base_general_company.html" %}

{% block meta %}
<meta name="description" content="U-C Jobs Company Profile">
{% endblock %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block css %}
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container">

  <div class="jumbotron backc">
    <div class="photo-name">
      <div class="img-word">
        {% if company_profile.photo %}
        <center><img src="{% url 'get_company_photo' company_profile.id %}" alt="{{company_profile.company_name}}" height="150" width="150"></center>
        {% else %}
        <center><img src="/static/img/default-company.png" alt="default image" height="150" width="150"></center>
        {% endif %}
        <span class="word-name">{{ company_profile.company_name }}</span>
        <span class="word-atname">@{{ user.username }}</span>
      </div>
    </div>
      
    <div class="information"> 
      <div>
        <h4>Basic Information</h4> 
        <ul style="list-style-type:square">
          <li class="left-list">Website: {{ company_profile.company_website }}</li>
          <li class="right-list">Location: {{ company_profile.location }}</li>
          <li class="left-list">Company Type: {{ company_profile.company_type }}</li>
          <li class="right-list">Employee Number: {{ company_profile.employee_num }}</li>
        </ul>
      </div></br></br>
      <div>
        <h4>Description</h4>
        {{ company_profile.description }} 
      </div></br>
      
    </div>
    <span class="dot-color">.</span>
  </div>
  
  <div class="jumbotron backc hire-left post">
    <h2>Hiring Information</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th width="15%">Location</th>
          <th width="25%">Time</th>
          <th width="55%">Post Title</th>
 
        </tr>
      </thead>
      <tbody>
        {% for company_post in company_posts %}
        <tr>
          <td>{{company_post.location}}</td>
          <td>{{company_post.post_time|date:"M-d-Y"}}</td>
          <td><a class="post_info" href="{% url 'show_company_post_company' company_post.id %}">{{company_post.post_subject}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
