<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="U-C Jobs Company Profile">
    <meta name="author" content="Team85">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  

    <!-- Custom styles for this template -->
    <link href="/static/css/profile.css" rel="stylesheet">


  </head>

  <body>

  <nav class="navbar non-loggedin">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home_non_loggedin' %}"><img class="logo" src="/static/img/logo.png"></a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item" href="{% url 'job_seeker_register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a class="nav-item" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="profile">
      <div class="jumbotron">
        <div>
          {% if company_profile.photo %}
          <center><img src="{% url 'get_company_photo' company_profile.id %}" alt="{{company_profile.company_name}}" height="150" width="150"></center>
          {% else %}
          <center><img src="/static/img/default-company.png" alt="default image" height="150" width="150"></center>
          {% endif %}
        </div>
        <center><div class="company-name">{{ company_profile.company_name }}</div></center>
        <div class="company-website">Website: {{ company_profile.company_website }} </div>
        <div class="company-description">Company Description: {{ company_profile.description }} </div>
        <div class="company-info">Basic Information: 
          <ul style="list-style-type:square">
            <li>Location: {{ company_profile.location }}</li>
            <li>Company Type: {{ company_profile.company_type }}</li>
            <li>Employee Number: {{ company_profile.employee_num }}</li>
          </ul>
        </div>


      </div>
    </div>
  
    <div class="post">
    <div class="jumbotron">
      <h2>Hiring Information</h2> 
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="15%">Location</th>
            <th width="15%">Time</th>
            <th width="70%">Post Title</th>
          </tr>
        </thead>
        <tbody>
          {% for company_post in company_posts %}
          <tr>
            <td>{{company_post.location}}</td>
            <td>{{company_post.post_time|date:"M-d-Y"}}</td>
            <td><a class="post_info" href="{% url 'show_company_post_non_loggedin' company_post.id %}">{{company_post.post_subject}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    
    <div class="message">
    <div class="jumbotron">
      <h2>Message Board</h2>
    </div>
    </div>

  </div>

  </body>
</html>
