{% extends "ucjobs/base_general_job_seeker.html" %}

{% block meta %}
<meta name="description" content="U-C Jobs Company Profile">
{% endblock %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block css %}
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="/static/js/add-message-job-seeker.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">

  <div class="jumbotron backc">
    <div class="photo-name">
      <div class="img-word">
        {% if company_profile.photo %}
        <center><img src="{% url 'get_company_photo' company_profile.id %}" alt="{{company_profile.company_name}}" height="150" width="150"></center>
        {% else %}
        <center><img src="/static/img/default-company.png" alt="default image" height="150" width="150"></center>
        {% endif %}
        <span class="word-name">{{ company_profile.company_name }}</span>
        <span class="word-atname">@{{ user.username }}</span>
      </div>
    </div>
      
    <div class="information"> 
      <div>
        <h4>Basic Information</h4> 
        <ul style="list-style-type:square">
          <li class="left-list">Website: {{ company_profile.company_website }}</li>
          <li class="right-list">Location: {{ company_profile.location }}</li>
          <li class="left-list">Company Type: {{ company_profile.company_type }}</li>
          <li class="right-list">Employee Number: {{ company_profile.employee_num }}</li>
        </ul>
      </div></br></br>
      <div>
        <h4>Description</h4>
        {{ company_profile.description }} 
      </div></br>
      
    </div>
    <span class="dot-color">.</span>
  </div>
  
  <div class="jumbotron backc hire-left post">
    <h2>Hiring Information</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th width="15%">Location</th>
          <th width="25%">Time</th>
          <th width="55%">Post Title</th>
 
        </tr>
      </thead>
      <tbody>
        {% for company_post in company_posts %}
        <tr>
          <td>{{company_post.location}}</td>
          <td>{{company_post.post_time|date:"M-d-Y"}}</td>
          <td><a class="post_info" href="{% url 'show_company_post_job_seeker' company_post.id %}">{{company_post.post_subject}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Ajax to update -->
  <div class="jumbotron backc message-right message">
    <h2>Message Board</h2>
    <div class="messages">
      {% for message in messages %}
      <div class="message-detail">
        {% if not message.user.last_name %}
        <a class="post_info" href="{% url 'show_company_profile_job_seeker' message.company_profile.id %}">{{message.user.first_name}}</a>: {{message.content}} <a class="message_reply" onclick="replyMessage(this)"><span class="glyphicon glyphicon-pencil" style="cursor:pointer"></span></a>
        {% else %}
        <a class="post_info" href="{% url 'show_job_seeker_profile_job_seeker' message.user.id %}">{{message.user.first_name}} {{message.user.last_name}}</span></a>: {{message.content}} <a class="message_reply" onclick="replyMessage(this)"><span class="glyphicon glyphicon-pencil" style="cursor:pointer"></span></a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <form class="form-signin message-form col-sm-8">
      <div class="message-field">
        <input id="message_input" type="text" class="form-control" name="content">
      </div>
      {% csrf_token %}
    </form>
    <a onclick="add_message_job_seeker()" company-profile-id="{{company_profile.id}}" class="btn btn-default edit-post post-message new-education col-sm-3"><span class="glyphicon glyphicon-comment"></span></a>
  </div>

</div>
{% endblock %}