{% extends "ucjobs/base_general_company.html" %}

{% block meta %}
<meta name="description" content="U-C Jobs Company Post">
{% endblock %}

{% block title %}
<title>Post</title>
{% endblock %}

{% block css %}
<link href="/static/css/post.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron backc">
  <center><span class="post-subject">{{company_post.post_subject}}</span></center>

    <div class="row post-info">
      <div class="col-sm-4">
        Post Time: {{company_post.post_time}}
      </div>
      <div class="col-sm-4">
        Job Location: {{company_post.location}}
      </div>
      <div class="col-sm-4">
        Job Type: {{company_post.position_type}}
      </div>
    </div>

    <div>
      <textarea class="post-content" readonly>{{company_post.post_content}}</textarea>
    </div>

    <a class="btn btn-default view-post" href="{% url 'home_company' %}" role="button">Back</a>
    <a class="btn btn-default view-post" href="{% url 'show_company_profile_company' company_post.user.id%}" role="button">Go to <span>{{company_post.user.first_name}}</span>'s Home Page</a>

  </div>
</div>

{% endblock %}