{% extends "ucjobs/base_general_company.html" %}

{% block meta %}
<meta name="description" content="U-C Jobs Company Post">
{% endblock %}

{% block title %}
<title>Post</title>
{% endblock %}

{% block css %}
<link href="/static/css/post.css" rel="stylesheet">
<link href="/static/css/animate.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron backc">
  <center><span class="post-subject">{{company_post.post_subject}}</span></center>

    <div class="row post-info">
      <div class="col-sm-4">
        Post Time: {{company_post.post_time}}
      </div>
      <div class="col-sm-4">
        Job Location: {{company_post.location}}
      </div>
      <div class="col-sm-4">
        Job Type: {{company_post.position_type}}
      </div>
    </div>

    <div>
      <textarea class="post-content" readonly>{{company_post.post_content}}</textarea>
    </div>

    <div class="interest">
      <div class="interest_list">
        <span class="glyphicon glyphicon-heart animated infinite pulse"></span></br>
        {% for user in company_post.follow_list.all %}
        <a class="post_info" href="{% url 'show_job_seeker_profile_company' user.id %}">{{user.first_name}} {{user.last_name}}</a>;
        {% endfor %}
      </div>
    </div>

    <a class="btn btn-default view-post" href="{% url 'home_company' %}" role="button">Back</a>

  </div>
</div>
{% endblock %}