{% extends "ucjobs/base_general_job_seeker.html" %}

{% block meta %}
<meta name="description" content="U-C Jobs Job Seeker Profile">
{% endblock %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block css %}
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="/static/js/show-job-seeker-profile-self.min.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron backc">
    <div class="photo-name">
      <div class="img-word">
        {% if job_seeker_profile.photo %}
        <img src="{% url 'get_job_seeker_photo' job_seeker_profile.id %}" alt="{{job_seeker_profile.first_name}} {{job_seeker_profile.last_name}}">
        {% else %}
        <img src="/static/img/default-job-seeker.png" alt="default image">
        {% endif %}
        <span class="word-name">{{ job_seeker_profile.user.first_name }} {{ job_seeker_profile.user.last_name }}</span>
        <span class="word-atname">@{{ user.username }}</span>
        <a class="btn btn-default new-education" href="{% url 'edit_job_seeker_profile' %}" role="button">Edit Profile</a>
      </div>
    </div>
    <div class="information">
      <div>
      <h4>Summary</h4> {{ job_seeker_profile.description }}
      </div></br>
      <div>
      <h4>Basic Information</h4>
      <ul style="list-style-type:square">
        <li class="left-list">Gender: {{ job_seeker_profile.gender }}</li>
        <li class="right-list">E-mail: {{ job_seeker_profile.user.email }}</li>
        <li class="left-list">Phone: {{ job_seeker_profile.phone }}</li>  
        <li class="right-list">ID: {{ job_seeker_profile.id_number }}</li>
        <li class="left-list">Birthdate: {{ job_seeker_profile.birthdate }}</li>
        <li class="right-list">Birthplace: {{ job_seeker_profile.birthplace }}</li>
        <li class="left-list">Current Place: {{ job_seeker_profile.current_place }}</li>
        <li class="right-list">Politics Status: {{ job_seeker_profile.politics_status }}</li>
        <li class="left-list">Graduation Date: {{ job_seeker_profile.graduation_date }}</li>
        {% if job_seeker_profile.resume.url != null%}
        <li class="right-list">Resume: <a class="post_info" href="{{job_seeker_profile.resume.url}}" role="button" target="_blank"><span class="glyphicon glyphicon glyphicon-download-alt"></span> Download</a></li>
        {% endif %}
      </ul>
      </div>
    </div>
    <span class="dot-color">.</span>
  </div>

  <div class="jumbotron backc edu-left">
    <h4><span class="glyphicon glyphicon glyphicon-book"></span> Education</h4>
    {% for education in educations %}
    <div class="jumbotron job-seeker-education">
      <label>{{education.school}}</label>
      <a class="edu_edit" href="{% url 'delete_education' education.id %}" role="button"><span class="glyphicon glyphicon-remove-sign"></span></a>
      <a class="edu_edit" href="{% url 'edit_education' education.id %}" role="button"><span class="glyphicon glyphicon-edit"></span></a></br>
      {{education.degree}}, {{education.major}}</br>
      {{education.begin}} - {{education.end}}</br></br>
    </div>
    {% endfor %}
    

    <form id="education" class="form-signin" action="{% url 'add_education' %}" method="post" style="display: none;">
      <div class="jumbotron job-seeker-education">
        <div class="form-group">
          <label class="col-sm-3 control-label">School Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="school"></br>
            {{ education_form.school.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Degree</label>
          <div class="col-sm-9">
            <select id="degree" class="form-control" name="degree">
              <option value=""></option>
              <option value="High School Diploma">High School Diploma</option>
              <option value="Associate">Associate</option>
              <option value="Bachelor">Bachelor</option>
              <option value="Master">Master</option>
              <option value="PhD">PhD</option>
            </select></br>
            {{ education_form.degree.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Major</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="major"></br>
            {{ education_form.major.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Start Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="begin" placeholder="mm/dd/yyyy"></br>
            {{ education_form.begin.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">End Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="end" placeholder="mm/dd/yyyy"></br>
            {{ education_form.end.errors }}
          </div>
        </div>
        <center><button type="submit" class="btn btn-default new-education">Save</button> <a class="btn btn-default new-education" onclick="Education(1)" role="button">Cancel</a></center>
        {% csrf_token %}
      </div>
    </form>
    
    <center><a class="btn btn-default new-education" onclick="Education(1)" role="button">Add Education</a></center>
  </div>

  <div class="jumbotron backc work-right">
    <h4><span class="glyphicon glyphicon glyphicon-wrench"></span> Work Experience</h4>
    <div class="jumbotron job-seeker-work">
      {% for work in work_exps %}
      <label>{{work.position}}</label>
      <a class="edu_edit" href="{% url 'delete_work_exp' work.id %}" role="button"><span class="glyphicon glyphicon-remove-sign"></span></a>
      <a class="edu_edit" href="{% url 'edit_work_exp' work.id %}" role="button"><span class="glyphicon glyphicon-edit"></span></a></br>
      {{work.company}}</br>
      {{work.begin}} - {{work.end}}</br>
      {{work.description}}</br></br>
      {% endfor %}
    </div>
    <form id="work_exp" class="form-signin" action="{% url 'add_work_exp' %}" method="post" style="display: none;">
      <div class="jumbotron job-seeker-work">
        <div class="form-group">
          <label class="col-sm-3 control-label">Position</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="position"></br>
            {{ work_exp_form.position.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Company Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="company"></br>
            {{ work_exp_form.company.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Start Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="begin" placeholder="mm/dd/yyyy"></br>
            {{ work_exp_form.begin.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">End Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="end" placeholder="mm/dd/yyyy"></br>
            {{ work_exp_form.end.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="description" rows="5"></textarea></br>
            {{ work_exp_form.description.errors }}
          </div>
        </div>
        <center><button type="submit" class="btn btn-default new-education">Save</button> <a id="work-add" class="btn btn-default new-education" onclick="Work(1)" role="button">Cancel</a> </center>
        {% csrf_token %}
      </div>
    </form>

    <div class="form-group">
      <center><a id="work-add" class="btn btn-default new-education" onclick="Work(1)" role="button">Add Position</a></center>
    </div>
  </div>

</div>

{% endblock %}
