body {
  background: #F5F5F5;
}

.navbar {
  background: #29567A;
}

.logo {
  height:40px;
  width:120px;
  margin-top:-8px;
}

.navbar-nav li a:hover {
  background-color: #6C94B3;
  color: white;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #6C94B3;
  color: white;
}

.dropdown-menu {
  background-color: #29567A;
}

.dropdown-menu>li>a {
  color: white; 
}

.welcome {
  margin-top: -20px;
  margin-bottom: 20px;
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 50%;
  /* ie8- graceful degradation */
  background-position:50% 50%\9 !important;
  height: 100%;
  width:100%;
  min-height:100%;
  overflow:hidden;
}

.backc {
  background: #EDF5F7;
  border-style: outset;
  border-width: 2px;
  border-color: #D0EBF2;
  box-shadow: -1px -1px 1px 1px #C0D6DC;
}

h2 {
  margin-top: -20px;
  padding-bottom: 10px;
}

.dropdown-toggle, .nav-item {
  color:white;
}


.col-xs-12, .col-sm-6, .col-md-4, .col-lg-3{ 
  margin-bottom: 5px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #C0D6DC;
  color:white;
}

th, td {
	text-align:center;
}

.post_info {
  color: #4169E1;
}

.table-hover td a:hover {
  color:white;
}

.unread_number {
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  vertical-align: -2px;
  margin-left: -13.5px;
}

.no-in-circle {
  vertical-align: 9px;
  margin-left: -4px;
}

.peace {
  vertical-align: -8px;
}

input, textarea { 
  color: #000; 
}
.placeholder { 
  color: #aaa; 
}