.navbar {
  background: #483D8B;
}

.non-loggedin {
  background: #A9A9A9;
}

.job-seeker {
  background: #1E90FF;
}

a[class="nav-item"] {
  color:white;
}


.col-xs-12, .col-sm-6, .col-md-4, .col-lg-3{ 
  margin-bottom: 5px;
}

th, td {
	text-align:center;
}

.post_info {
  color: #4169E1;
}

.unread_number {
  font-weight: bold;
  vertical-align: 3px;
  padding-left: 2px;
}