/* reference for full background image:
 http://buxiangshuo.diandian.com/?p=239 */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(/static/img/uc-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* reference for the semi-transparent container block:
 http://www.cnf2e.com/css-div-html/css-background-color-transparent.html */
.container {
  border-radius:15px;
  width:35%;
  background:rgba(223,216,216,0.8);
  background:transparent\9;
  zoom:1\8; /* required for the filters */
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E5DFDF, endColorstr=#99E5DFDF)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E5DFDF, endColorstr=#99E5DFDF); /* IE5.5-7 */
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin .register {
  margin-top: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
a {
  color: black;
}

.btn{
  margin-top: 5px;
  background: #29567A;
  border-color: #29567A;
}

.btn:hover {
  background-color: #6C94B3;
}

.error-div {
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.error-div-p {
  font-size: 1.5em;
  color: red;
  background: white;
}

.logo {
  height:60px;
  width:180px;
  margin-top: 20px;
}