body {
  background: #F5F5F5;
}

.navbar {
  background: #29567A;
}

a[class="nav-item"] {
  color:white;
}

.navbar-nav li a:hover {
  background-color: #6C94B3;
}

.col-sm-3 { 
  margin-bottom: 5px;
}

th, td {
	text-align:left;
}

.nav-sidebar {
  margin-top: 40px;
}

li.active-job-seeker {
  background-color: #1E90FF;
}

li.active-company {
  background-color: #483D8B;
}

a[class="active-font"] {
  color:white;
}

a[class="normal-font"] {
  color:black;
}

textarea {
  width: 100%;
  height: 15em;
}

.form-control {
  margin-bottom: 5px;
}

.unread_number {
  font-weight: bold;
  vertical-align: 3px;
  padding-left: 2px;
}

.logo {
  height:40px;
  width:120px;
  margin-top:-10px;
}

.nav li.active a{
  background-color: #29567A;
}
.nav li.active a:hover {
  background-color: #6C94B3;
}
.nav li a:hover {
  background-color: #6C94B3;
  color:white;
}