body {
  background: #F5F5F5;
}

.navbar {
  background: #29567A;
}

a[class="nav-item"] {
  color:white;
}

.navbar-nav li a:hover {
  background-color: #6C94B3;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #6C94B3;
  color: white;
}

.dropdown-menu {
  background-color: #29567A;
}

.dropdown-menu>li>a {
  color: white; 
}

.col-sm-3 { 
  margin-bottom: 5px;
}

.mail-border {
  border-style: solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #C7C7C7;
  -moz-box-shadow: 1.5px 1.5px 1.5px 1.5px #C7C7C7;
  -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px #C7C7C7;
  filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1.5, OffY=1.5, Color=#C7C7C7);
  border-color:#29567A;

}

.page-header {
  border-color: #29567A;
}

th, td {
	text-align:left;
}

.nav-sidebar {
  margin-top: 40px;
}

a[class="active-font"] {
  color:white;
}

a[class="normal-font"] {
  color:black;
}

textarea {
  width: 100%;
  height: 17em;
}

.form-control {
  margin-bottom: 5px;
}

.logo {
  height:40px;
  width:120px;
  margin-top:-10px;
}

.nav-sidebar>li>a {
  width:70%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
}

.nav li.active a{
  background-color: #29567A;
}
.nav li.active a:hover {
  background-color: #6C94B3;
}
.nav li a:hover {
  background-color: #6C94B3;
  color:white;
}

.unread_number {
  background: #FF0000 !important;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  width: 1.2em; 
  margin-left: -3px;
  vertical-align: 5px;
}

.peace {
  vertical-align: -2.5px;
}

.dropdown-toggle, .nav-item {
  color:white;
}

.backc{
  border-radius: 20px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  box-shadow: -1px -1px 1px 1px #C7C7C7;
  -moz-box-shadow: -1px -1px 1px 1px #C7C7C7;
  -webkit-box-shadow: -1px -1px 1px 1px #C7C7C7;
  filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#C7C7C7);
}

.edit-post {
  color:black;
  background: #EAEAEA;
  margin-bottom: 10px;
}

.btn-default:hover {
  background: white;
  color:black;
}

.mail-subject {
  font-weight: bold;
  font-size: 20px;
}

.mail-content {
  margin-bottom: 5px;
  border: none; 
}

input, textarea { 
  color: #000; 
}
.placeholder { 
  color: #aaa; 
}