body {
  background: #F5F5F5;
}

.navbar {
  background: #29567A;
}

.navbar-nav li a:hover {
  background-color: #6C94B3;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #6C94B3;
  color: white;
}

.dropdown-menu {
  background-color: #29567A;
}

.dropdown-menu>li>a {
  color: white; 
}

a[class="nav-item"] {
  color:white;
}

.col-sm-4 {
  text-align:center;
}

.edit-post {
  margin-top: 10px;
}

.view-post {
  margin-top: 10px;
  float: right;
}

.form-control {
  margin-bottom: 5px;
}

textarea {
  background: #EEEEEE;
  width: 100%;
  height: 25em;
}

.glyphicon-heart {
  font-size: 30px;
  color: #DC143C; 
}

.interest-post {
  cursor:pointer;
}

.glyphicon-hand-left {
  padding-left: 10px;
  font-size: 18px;
}

.click-like {
  font-family:Book Antiqua;
  font-size: 15px;
  padding-left: 3px;
}

.post_info {
  color: #4169E1;
}

.change {
  width:50%;
}

.back_link {
  color:black;
  float: right;
}

.back_word {
  vertical-align: 2px;
  padding-left: 2px;
}

.logo {
  height:40px;
  width:120px;
  margin-top:-10px;
}

.unread_number {
  background: red;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  width: 1.2em; 
  margin-left: -3px;
  vertical-align: 5px;
}

.peace {
  vertical-align: -2.5px;
}

.dropdown-toggle, .nav-item {
  color:white;
}