body {
  background: #F5F5F5;
}

.navbar {
  background: #29567A;
}

.navbar-nav li a:hover {
  background-color: #6C94B3;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #6C94B3;
  color: white;
}

.dropdown-menu {
  background-color: #29567A;
}

.dropdown-menu>li>a {
  color: white; 
}

.dropdown-toggle, .nav-item {
  color:white;
}

div.row { 
  border: 1px solid;
  border-left: 0px;
  border-bottom: 0px;
}

.container div.row:last-child {
  border-bottom: 1px solid;
}

div.col-sm-3 {
	border-left: 1px solid;
}

th, td {
	text-align:center;
}

.company-name {
  font-size:20px;
}
.company-website, .company-description, .company-info {
  font-size: 15px;
}
.post_info {
  color: #4169E1;
}
.edit-profile, .new-post{
  float: right;
}
.post_delete {
  color:black;
}
.message-detail {
  border-bottom-style: ridge;
  font-size: 15px;
}
.message-form {
  margin-top: 10px;
}
.message-field {
  width: 50%;
}
.edit-post {
  margin-top: 10px;
  margin-bottom: 10px;
}
.new-education {
  width:100%;
}
.form-sign {
  display: none;
}
.edu_edit {
  float: right;
}
.form-control {
  margin-bottom: 5px;
}
.message_reply {
  float:right;
  color: #4169E1;
}
.logo {
  height:40px;
  width:120px;
  margin-top:-10px;
}
.unread_number {
  background: red;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  width: 1.2em; 
  margin-left: -3px;
  vertical-align: 5px;
}

.peace {
  vertical-align: -2.5px;
}
